/*
 * PRESETS
 */
html,
body {
    height: 100%;
}

body {
    font-size: 16px;
}

.add-bottom {
    margin-bottom: 20px !important;
}

.add-bottom-sm {
    margin-bottom: 10px !important;
}

.add-bottom-xs {
    margin-bottom: 5px !important;
}

.no-bottom {
    margin-bottom: 0px !important;
}

.add-top {
    margin-top: 20px !important;
}

.add-top-sm {
    margin-top: 10px !important;
}

.add-top-xs {
    margin-top: 5px !important;
}

.no-top {
    margin-top: 0px !important;
}

.add-padding-bottom {
    padding-bottom: 20px !important;
}

.add-padding-bottom-sm {
    padding-bottom: 10px !important;
}

.add-padding-bottom-xs {
    padding-bottom: 5px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.add-padding-top {
    padding-top: 20px !important;
}

.add-padding-top-sm {
    padding-top: 10px !important;
}

.add-padding-top-xs {
    padding-top: 5px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.justified {
    text-align: justify !important;
}

.no-border {
    border: none !important;
    border-radius: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.plain {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.hidden {
    display: none !important;
}

.text-init {
    font-size: 16px !important;
}

.text-small {
    font-size: 14px !important;
}

.text-large {
    font-size: 24px !important;
}

.text-smaller {
    font-size: smaller !important;
}

.text-larger {
    font-size: larger !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.full-width {
    width: 100% !important;
}

.no-float {
    float: none !important;
}

.clear {
    clear: both !important;
}

.bold {
    font-weight: bold !important;
}

.no-bold {
    font-weight: normal !important;
}

.no-resize {
    resize: none;
}

.vertical-resize {
    resize: vertical;
}

.valign.wrap-outer {
    display: table;
    width: 100%;
    height: 250px;
}

.valign .wrap-inner {
    display: table-cell;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.lazy-load {
    position: relative;
    min-height: 300px;
}

.loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 72px;
    line-height: 100%;
    text-align: center;
}

/*
 * END OF PRESETS
 */

