audio {
    margin-top: 20px;
    width: 100%;
}
#button{
    height: 200px;
    width: 1200px;
}
.icon-add-on {
    position: absolute;
    left: 100%;
    top: -50%;
    font-family: sans-serif;
}


.btn.play i.fa-play {
    display: none;
}
.btn.pause i.fa-pause {
    display: none;
}